<div class="wrapper">
  <div class="title">
    <h2>📁 Mes fichiers partagés 📁</h2>
  </div>
  <div class="actions">
    <button mat-stroked-button>Retour</button>
  </div>
  <div class="files">
    <div *ngFor="let file of dashboardService.userFiles | async">
      <mat-card>
        <mat-card-title>
          <mat-card-title>{{ file.shortName }}</mat-card-title>
          <mat-card-subtitle>ID : {{ file.id }}</mat-card-subtitle>
        </mat-card-title>
        <mat-card-actions>
          <button
            mat-raised-button
            [cdkCopyToClipboard]="file.downloadURL"
            (click)="onCopyDownloadURL()"
          >
            Copier le lien de téléchargement
          </button>
          <button mat-stroked-button>Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
