<div *ngIf="authService.user$ | async; then authenticated else guest"></div>

<ng-template #authenticated>
  <div *ngIf="authService.user$ | async as user">
    <mat-card>
      <mat-card-title>👋 Salut 👋</mat-card-title>
      <mat-card-content>
        Tu viens de te connecter avec cette adresse email : <br />
        <b>{{user.email}}</b>
        <br />
        Clique sur le bouton ci-dessous qui correspond à ce que tu veux faire.
        👇
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-stroked-button
          (click)="authService.signOut()"
          style="margin-right: 8px"
        >
          Se déconnecter
        </button>
        <button mat-raised-button (click)="goToDashboardPage()">
          Dashboard
        </button>
        <button mat-raised-button (click)="goToUploadPage()">Partager</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>

<ng-template #guest>
  <div>
    <mat-card>
      <mat-card-title>✋ STOP ✋</mat-card-title>
      <mat-card-content>
        Pour continuer, tu dois te connecter avec ton compte <b>Google</b> !
        <br />
        C'est nécessaire si tu veux que les fichiers que tu partageras ne se
        perdent pas dans la nature. 🍂 <br />
        Clique sur les boutons ci-dessous pour te connecter ou télécharger un
        fichier ! 👇
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="authService.signInWithGoogle()">
          Se connecter
        </button>
        <button mat-raised-button (click)="goToDownloadPage()">
          Télécharger
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
